.layout {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 125px auto 150px;
}

.main {
    grid-column: 1/4;
    grid-row: 2/3;
}