.authSection {
    width: 100%;
    margin-top: 40px;
    padding: 0.5em;
}

.busCard {
    width: 100%;
    margin: 25px 0;
}

@media screen and (min-width: 834px){
    .authSection {
        max-width: 800px;
        margin: 75px auto;
    }

    .authPic {
        background-color: transparent;
        display: none;
    }
}

@media screen and (min-width: 1300px){
    .authSection{
        max-width: 1100px;
    }
}