.item {
    display: block;
}

.blogLink {
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    text-align: left;
}
.title{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}

.postTease {
    width: 100%;
    margin: 10px 0;
}