.item {
    display: block;
}

.blogLink {
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    text-align: left;
    text-decoration: none;
    color: black;
}

.blogLink:visited {
    color:rgba(27, 27, 27, .95);
}

.titleBlock {
    width: 100%;
    margin: 10px 0;
}

.title{
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
}

.date {
    color:rgba(27, 27, 27, 0.8);
}

.postTease {
    width: 100%;
    margin: 10px 0;
    color:rgba(27, 27, 27, 0.8);
}