.article{
    width: 100%;
    margin-top: 75px;
    padding: 1em 0.5em;
}

.titleBlock{
    margin: 25px 0;
}
.postTitle {
    margin: 0;
    font-size: 1.8em;
}
.postDate {
   font-size: 1.16em; 
}
.postContent {
    /* padding: 1em 0.5em; */
    margin-top: 25px;
    font-size: 1.18em;
}