.productsContainer {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}


@media screen and (max-width: 834px) {
    .productsContainer {
        flex-flow: column;
    }
}