.workItem {
   padding: 1em 0.5em; 
}

.projectContent {
    font-size: 1.22em;
    margin: 15px 0;
}

.projectGallery {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
}

.galleryImage {
    margin: 15px 0;
}